{% extends 'base.html.twig' %}


{% block body %}


    {% include(':default:global-page-header.html.twig') %}



    
    <section id="blog-full-width">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                <a href="post-fullwidth.html">Space shouldn’t be the final frontier</a>
                            </h2>
                            <div class="blog-meta">
                                <span>Dec 11, 2020</span>
                                <span>by <a href="">Admin</a></span>
                                <span><a href="">business</a>,<a href="">people</a></span>
                            </div>
                            <p>Ultrices posuere cubilia curae curabitur sit amet tortor ut massa commodo. Vestibulum consectetur euismod malesuada tincidunt cum. Sed ullamcorper dignissim consectetur ut tincidunt eros sed sapien consectetur dictum. Pellentesques sed volutpat ante, cursus port. Praesent mi magna, penatibus et magniseget dis parturient montes sed quia consequuntur magni dolores eos qui ratione.
                            </p>
                            <a href="single-post.html" class="btn btn-dafault btn-details">Continue Reading</a>
                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/portfolio/item-1.jpg') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/portfolio/item-1.jpg') }}">Demo</a>
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/portfolio/item-2.jpg') }}">Demo</a>

                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>


            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                <a href="post-fullwidth.html">Space shouldn’t be the final frontier</a>
                            </h2>
                            <div class="blog-meta">
                                <span>Dec 11, 2020</span>
                                <span>by <a href="">Admin</a></span>
                                <span><a href="">business</a>,<a href="">people</a></span>
                            </div>
                            <p>Ultrices posuere cubilia curae curabitur sit amet tortor ut massa commodo. Vestibulum consectetur euismod malesuada tincidunt cum. Sed ullamcorper dignissim consectetur ut tincidunt eros sed sapien consectetur dictum. Pellentesques sed volutpat ante, cursus port. Praesent mi magna, penatibus et magniseget dis parturient montes sed quia consequuntur magni dolores eos qui ratione.
                            </p>
                            <a href="single-post.html" class="btn btn-dafault btn-details">Continue Reading</a>
                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/portfolio/item-1.jpg') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/portfolio/item-1.jpg') }}">Demo</a>
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/portfolio/item-2.jpg') }}">Demo</a>

                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>



            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                <a href="post-fullwidth.html">Space shouldn’t be the final frontier</a>
                            </h2>
                            <div class="blog-meta">
                                <span>Dec 11, 2020</span>
                                <span>by <a href="">Admin</a></span>
                                <span><a href="">business</a>,<a href="">people</a></span>
                            </div>
                            <p>Ultrices posuere cubilia curae curabitur sit amet tortor ut massa commodo. Vestibulum consectetur euismod malesuada tincidunt cum. Sed ullamcorper dignissim consectetur ut tincidunt eros sed sapien consectetur dictum. Pellentesques sed volutpat ante, cursus port. Praesent mi magna, penatibus et magniseget dis parturient montes sed quia consequuntur magni dolores eos qui ratione.
                            </p>
                            <a href="single-post.html" class="btn btn-dafault btn-details">Continue Reading</a>
                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/portfolio/item-1.jpg') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/portfolio/item-1.jpg') }}">Demo</a>
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/portfolio/item-2.jpg') }}">Demo</a>

                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </section>

{% endblock %}