{% extends 'base.html.twig' %}


{% block body %}

    {% include(':default:global-page-header.html.twig') %}


    <section id="blog-full-width">
        <div class="container">

            {# Site Bulgarana #}
            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                Bulgarana - Zyro Website Builder
                            </h2>
                            <div class="blog-meta">
                                <span><b>Logiciels :</b> Photoshop , Paint</span><br>
                                <span><b>Systèmes d’exploitation :</b> Mac OS</span>
                            </div>
                            <p>
                                Création un site web pour un particuler à l'aide du constructeur de site Web Zyro Website Builder .
                            </p>
                            <ul>
                                <li>
                                    Création de logos et création d’images,
                                </li>
                            </ul>

                            <a href="http://bulgarana.pe.hu"  target="_blank" class="btn btn-dafault btn-details">Voir le site</a>

                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/web/bulgarna.png') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/bulgarna.png') }}">1</a>
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/bulTel.png') }}">2</a>

                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            {# Site Medinov #}
            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                Medinov - CMS Prestashop
                            </h2>
                            <div class="blog-meta">
                                <span><b>Date : </b>Dec 11, 2015</span> Stage de 6 mois <br>
                                <span><b>Langages web :</b> PHP/MYSQL  - HTML/CSS  - JS </span><br>
                                <span><b>Logiciels :</b> Aptana Studio3 - MAMP , Paint</span><br>
                                <span><b>Systèmes d’exploitation :</b> Mac OS</span>
                            </div>

                            <ul>
                                <li>Mise à ajour du site E-commerce sous plateforme prestashop 1.4 vers la version 1.6.3</li>
                                <li>
                                    Intégration un nouveau thème, en mode responsive design
                                </li>
                                <li>
                                    Intégration des slides et différents visuels en page d’accueil
                                </li>
                                <li>
                                    Mise à jour les fichies overrides qui auraient pu être modifiés manuellement. 
                                </li>
                                <li>
                                    Configuration du back office pour la gestion de la boutique
                                </li>
                            </ul>

                            <a href="http://www.medinov.fr"  target="_blank" class="btn btn-dafault btn-details">Voir le site</a>

                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/web/medinov_p.png') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/medinov.png') }}">1</a>
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/medinov_S.png') }}">2</a>

                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            {# Site portfolio - Foundations #}
            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                Portfolio - Framework front-end Foundation
                            </h2>
                            <div class="blog-meta">
                                <span><b>Date :</b> Dec 11, 2014 </span>
                                <span><b>Site Perso</b></span><br>
                                <span><b>Langages web :</b> PHP/MYSQL  - HTML/CSS  - Foundations</span><br>
                                <span><b>Logiciels :</b> Aptana Studio3 - MAMP</span><br>
                                <span><b>Systèmes d’exploitation :</b> Mac OS</span>
                            </div>
                            <p>
                                Dans le cadre de mon autoformation .J'ai développé un site web en php en utilisant le framework front-end Foundation
                                Dans ce site j'ai présente mon parcours d'études, mes différentes réalisations .

                            </p>
                            <a href="http://brporfolio.osmose-hebergement.com" target="_blank" class="btn btn-dafault btn-details">voir le site</a>
                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/web/portfolio.png') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/portfolio.png') }}">1</a>
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/portfolio_m.png') }}">2</a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            {# Site E-commerce - POO #}
            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                E-commerce  - POO
                            </h2>

                            <div class="blog-meta">
                                <span>Dec 11, 2014 </span>
                                <span><b>Langages web :</b> PHP/MYSQL  - HTML/CSS  </span>
                                <span><b>Logiciels :</b> Aptana Studio3 - MAMP</span>

                            </div>
                            <p>
                                Dans le cadre de mon autoformation j'ai réalisé un Site de vente de produits représentant E-commerce.
                                Utilisation programmation oriente objet, Dans ce projet le site permet :
                                <ul>
                                    <li> Présentation des produits dès la page d’accueil </li>
                                    <li> Fiche complète de chaque produit avec description, et photographie. </li>
                                    <li> Possibilité d’afficher des produits en promotion </li>
                                    <li> Le panier et sa gestion (caddie) </li>
                                    <li> Classement par catégories de produits </li>
                                    <li>  Formulaire de contact.     </li>

                                </ul>
                            </p>
                            <a href="http://brportfolio.pe.hu" target="_blank" class="btn btn-dafault btn-details">voir le site</a>
                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/web/tools_1.png') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/tools_2.png') }}">1</a>
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/tools_3.png') }}">2</a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            {# Gestions photos #}
            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                Galerie photos - Dévelopeur PHP/CSS
                            </h2>
                            <div class="blog-meta">
                                <span>Dec 11, 2014 </span>
                                <span><b>Langages web :</b> PHP/MYSQL  - HTML/CSS  </span>
                                <span><b>Logiciels :</b> Aptana Studio3 - MAMP</span>

                            </div>
                            <p>
                                Création d'un site pour objectif de gérer un ensemble de photos
                                ainsi que de son administration. Il est réalisé dans le cadre de ma formation
                                au Cnam l'UE NFE114,Dans ce projet le site permet :
                            </p>
                                <ul>
                                <li>
                                    Visualiser des photos ainsi que les informations relatifs à chaque photo et les classe dans une catégorie donnée
                                </li>
                                <li>
                                    Pouvoir ajouter des commentaires pour chaque photo.
                                </li>

                                <li>
                                    Les tags sous forme de menu visible en permanence.
                                </li>
                                <li>
                                    L'administration permet d'ajouter, modifier, supprimer des catégories ou des photos
                                </li>
                                </ul>

                            <a href="http://brportfolio.pe.hu/gestionphotos/" target="_blank" class="btn btn-dafault btn-details">Voir le site</a>
                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/web/gestionImage.png') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/gestionImage.png') }}">Demo</a>


                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>


            {# Gestions projet #}
            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                Gestion des projets
                            </h2>
                            <div class="blog-meta">
                                <div class="blog-meta">
                                    <span><b>Date : </b>Dec 11, 2015</span> Stage de 6 mois <br>
                                    <span><b>Langages web :</b> XML/DTD/XSLT/SCHEMA - HTML/CSS </span><br>
                                    <span><b>Logiciels :</b> Aptana Studio3 - MAMP , Paint</span><br>
                                    <span><b>Systèmes d’exploitation :</b> windows</span>
                                </div>
                            </div>
                            <p>
                                Réalisation d’une application statique XML adaptée à la gestion des projets.
                                Dans ce projet j'ai effectué:
                                <ul>
                                    <li>
                                        LA conception d'une application XML
                                    </li>
                                    <li>
                                        La validation XML par DTD ou SCHEMA.
                                    </li>
                                    <li>
                                        La transformation XSLT.
                                    </li>
                                    <ul>
                                        <li>
                                             Afficher la liste des personnes et La liste des projets
                                        </li>
                                        <li>
                                             Afficher des membres de chacun de ces projets
                                        </li>
                                        <li>
                                            Afficher La liste des personnes ayant un projet avec leur rôle dans le projet
                                        </li>
                                    </ul>
                                </ul>
                            </p>

                            <a href="http://brportfolio.pe.hu/" target="_blank" class="btn btn-dafault btn-details">Voir le site</a>
                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/web/gestionProjets.png') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/gestionProjets.png') }}">Demo</a>


                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>


            {# Ancien portfolio #}
            <div class="row">
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                Ancien portfolio
                            </h2>
                            <div class="blog-meta">
                                <span><b>Date :</b> Dec 11, 2014 </span>
                                <span><b>Site Perso</b></span><br>
                                <span><b>Langages web :</b> PHP/MYSQL  - HTML/CSS </span><br>
                                <span><b>Logiciels :</b> Aptana Studio3 - WAMP</span><br>
                                <span><b>Systèmes d’exploitation :</b> Windows</span>
                            </div>
                            <p>
                                C'est mon deuxieme site qui a pour but de présenter un Portfolio en php. Le site réalisé dans le cadre de ma formation au Cnam l'UE NFE114 contient
                                <ul>
                                    <li>
                                        Formulaire de contact
                                    </li>
                                    <li>
                                        Respecte les standards du W3C
                                    </li>

                                </ul>


                            </p>
                            <a href="http://brporfolio.osmose-hebergement.com/version1/" class="btn btn-dafault btn-details">Continue Reading</a>
                        </div>

                    </article>
                </div>

                <div class="col-sm-4">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="img-wrapper">
                            <img src="{{ asset('Resources/public/images/web/portfolio-Ancien.png') }}" class="img-responsive" alt="this is a title" >
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="{{ asset('Resources/public/images/web/portfolio-Ancien.png') }}">Demo</a>


                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

        </div>
    </section>

{% endblock %}